.login-form {
  width: 575px;
  height: 620px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 8%;
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.27);
}

.login-header {
  position: relative;
  height: 210px;
  width: 100%;
}

.login-header-background,
.login-header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login-header-background {
  background-image: url('src/app/images/form-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1
}

.login-header-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.login-header-content {
  position: relative;
  z-index: 3;
  font-size: 2.6em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-content {
  padding-top: 40px;
  margin-top: 1em;
  margin-right: 4em;
  margin-left: 4em;
}

.col-form-label {
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #A5A6A5;
}

input.form-control {
  border: 0;
  border-bottom: 1px solid #b2b2b2;
  border-radius: 0;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0;
  transition: 0.7s border-bottom-color ease-in;
}

input.form-control:focus {
  border-bottom: 1px solid #57B846;
}


input.form-control::placeholder {
  color: #a4a4a4;
  font-size: 15px;
  font-family: 'Baloo 2', cursive;
}

input.form-control:focus::placeholder {
  color: transparent;
}

input.invalid-data::placeholder {
  color: #ae0001;
}

input.invalid-data::-webkit-input-placeholder::after {
  visibility: visible;
  content: 'x';
}

.form-submit-btn {
  width: 8em;
  font-size: 16px;
  color: #57B846;
  border-radius: 14px;
  border-color: #57B846;
  transition: 0.6s background-color;
}

.form-submit-btn:hover {
  color: #ffffff;
  background-color: #57B846;
}

.form-submit-btn:disabled {
  color: #a9adad;
  border-color: #a9adad;
}

.form-submit-btn:disabled:hover {
  color: #9fb8a3;
  border-color: #9fb8a3;
  background-color: #ffffff;
}

.form-switch-text {
  line-height: 2.2;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #A5A6A5;
}

.form-switch-text a {
  cursor: pointer;
  transition: 0.2s all;
}

.form-switch-text a:hover {
  font-size: 19px;
  color: #57B846;
}

.form-invalid-message {
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #ae0001;
}

@media (max-width: 600px) {
  .login-form {
    width: 475px;
    height: 550px;
  }

  .login-form-content {
    padding-top: 50px;
  }
}

@media (max-width: 500px) {
  .login-form {
    width: 370px;
    height: 530px;
  }

  .login-form-content {
    padding-top: 25px;
    margin-left: 2em;
    margin-right: 2em;
  }

  .login-header-content {
    font-size: 2.2em;
    padding-top: 40px;
  }
}

@media (max-width: 500px) and (max-height: 540px) {
  .login-form-content {
    padding-top: 80px;
  }
}

@media (max-width: 400px) {
  .login-form {
    width: 320px;
    height: 540px;
  }

  .login-form-content {
    padding-top: 70px;
  }

  .col-form-label {
    font-size: 12px;
  }

  input.form-control::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  .login-form {
    width: 290px;
    margin-bottom: 20px;
  }

  .login-header-content {
    padding-top: 68px;
  }
}

@media (max-width: 290px) {
  .login-form {
    width: 240px;
    height: 560px;
    margin-bottom: 20px;
  }

  .login-header-content {
    font-size: 2.0em;
    padding-top: 46px;
  }

  .login-form-content {
    padding-top: 100px;
  }

  p.text-muted.text-center {
    font-size: 13px;
  }
}
