<div class="col-12 mb-3">
  <div class="shadow card bg-light" style="width: 18rem;">
    <img class="card-img-top img-resize img-responsive" src="{{recipeItem.imagePath}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{recipeItem.name}}</h5>
      <p class="card-text">{{recipeItem.description}}</p>
      <p class="mx-1"><strong>Cook time</strong>: {{recipeItem.cookTime + ' '}}<fa-icon [icon]=faClock></fa-icon></p>
      <div class="button info">
        <div class="circle"></div>
        <button type="button" pageScroll href="#recipe-details" [routerLink]="[index]">Open recipe</button>
      </div>
    </div>
  </div>
</div>
