/* You can add global styles to this file, and also import other style files */
.loading-spinner {
  margin-top: 45vh;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn {
  border-radius: 14px;
}

.btn:disabled {
  color: #a9adad;
  border-color: #a9adad;
}

.btn:disabled:hover {
  color: #a9adad;
  border-color: #a9adad;
}
