h3 {
  border-bottom: 1px solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #F8727D;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: inline-block;
  vertical-align: top;
}

/* ShoppingList input */
.input-field {
  position: relative;
  width: 200px;
  height: 44px;
  line-height: 44px;
  margin-bottom: 25px;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}

input.ng-invalid.ng-touched {
  outline: none;
  border-bottom-color: #F8727D;
}

input:focus,
input:valid {
  border-color: #00dd22;
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
}

p.text-suggestion {
  transition: 0.5s all;
  font-size: 15px;
  color: #F8727D;
}
