<div id="ingredient-edit" class="row">
  <div class="text-center col-12 my-4">
    <h3 class="justify-content-center">Shopping List</h3>
  </div>
  <div class="col-12">
    <form (ngSubmit)="addItemToShoppingList(shoppingListForm)" #shoppingListForm="ngForm">
      <div class="row">
        <div class="col-12 col-lg-5 col-xl-3 mr-l-0 mr-xl-3 form-group">
          <div class="input-field">
            <input
              type="text"
              id="name"
              name="nameInput"
              required
              ngModel #ingredientNameInput="ngModel">
            <label for="name">Name</label>
            <p class="text-suggestion" *ngIf="!ingredientNameInput.valid && ingredientNameInput.touched">Enter a valid
              ingredient name!</p>
          </div>
        </div>
        <div class="div col-10 col-lg-4 col-xl-5 mt-sm-3 mt-lg-0 form-group">
          <div class="input-field">
            <input
              type="text"
              id="amount"
              name="amountInput"
              required
              pattern="^[0-9]{1,4}(\.[0-9]{1,3})?$"
              ngModel #ingredientAmountInput="ngModel">
            <label for="amount">Amount</label>
            <p class="text-suggestion" *ngIf="!ingredientAmountInput.valid && ingredientAmountInput.touched">Enter an
              amount!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="button success {{ ((!shoppingListForm.getControl(ingredientAmountInput).value || !shoppingListForm.getControl(ingredientNameInput).value) || !shoppingListForm.valid) ? disabledClass : ''}}">
            <div class="circle"></div>
            <button [disabled]="!shoppingListForm.valid" type="submit">
              {{ editMode ? 'Update' : 'Add Item'}}
            </button>
          </div>
          <div *ngIf="editMode" class="button danger">
            <div class="circle"></div>
            <button type="button" (click)="deleteIngredient()">
              Delete
            </button>
          </div>
          <div class="button info {{ (( !shoppingListForm.getControl(ingredientAmountInput).value && !shoppingListForm.getControl(ingredientNameInput).value)) ? disabledClass : '' }}">
            <div class="circle"></div>
            <button [disabled]="!shoppingListForm.getControl(ingredientAmountInput).value && !shoppingListForm.getControl(ingredientNameInput).value" type="button" (click)="resetForm()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
